.header{
    background: black;
    height:100%;
    color: white;
    padding-bottom: 25px;
}
label{
    width: 25%;
    color: white;
    font-weight: bold;
}
select{
    width: 70%;
}
input{
    width: 100%
}
.mainContainer{
    margin-top: 100px;
    width:33%;
    height:300px;
    margin-left: 33%;
    background: #35beef;
    border-radius: 2em;
}
.dataContainer{
    width:50%;
    height: 100%;
    padding-top: 10%;
    margin-left: 25%;
}